baseURL = 'https://blog.pospiech.dev/'
languageCode = 'en-us'
defaultContentLanguage = "en-us"

enableEmoji = true
ignoreErrors = ["additional-script-loading-error"] # ignore error of loading additional scripts.

#title = "A DevOps Engineer's Journey"
title = "Ops Uncharted"
#title = "Build, Ship, Repeat"

[module]
  [[module.imports]]
    path = "github.com/hugo-sid/hugo-blog-awesome"

[services]
# To enable Google Analytics 4 (gtag.js) provide G-MEASUREMENT_ID below.
# To disable Google Analytics, simply leave the field empty or remove the next two lines
  [services.googleAnalytics]
    id = '' # G-MEASUREMENT_ID

# To enable Disqus comments, provide Disqus Shortname below.
# To disable Disqus comments, simply leave the field empty or remove the next two lines
  [services.disqus]
    shortname = ''

[markup]
  [markup.highlight]
    noClasses = false
  [markup.goldmark.renderer]
    unsafe = true
	[markup.tableOfContents]
		startLevel = 2 # ToC starts from H2
		endLevel = 4 # ToC ends at H4
		ordered = false # generates <ul> instead of <ol>

############################## English language ################################
[Languages.en-us]
  languageName = "English"
  languageCode = "en-us"
  contentDir = "content/en"
  weight = 1

  [Languages.en-us.menu]
  [[Languages.en-us.menu.main]]
    # The page reference (pageRef) is useful for menu highlighting
    # When pageRef is set, setting `url` is optional; it will be used as a fallback if the page is not found.
    pageRef="/"
    name = 'Home'
    url = '/'
    weight = 10
  [[Languages.en-us.menu.main]]
    pageRef="posts"
    name = 'Posts'
    url = '/posts/'
    weight = 20
#  [[Languages.en-us.menu.main]]
#    pageRef="about"
#    name = 'About'
#    url = '/about/'
#    weight = 30

[Languages.en-us.params]
  sitename = "A DevOps Engineer's Journey"
  defaultColor = "auto" # set color mode: dark, light, auto
  
  #description = "Exploring the intersection of DevOps, GitOps, and Kubernetes, one commit at a time. Join me as I dive into cloud-native technologies, share practical insights on automation, and reveal behind-the-scenes stories from maintaining my homelab and real-world production environments."
  description = "Deep dives into SRE best practices, CI/CD pipelines, security, observability, and home‑grown lab setups.”
  mainSections = ['posts']
  
  toc = true # set to false to disable table of contents 'globally'
  tocOpen = false # set to true to open table of contents by default
  goToTop = true # set to false to disable 'go to top' button
  
  # additionalScripts = ['js/custom.js', 'js/custom-2.js']
  
  # Will try to load 'assets/js/custom.js' and 'assets/js/custom-2.js'.
  # Your custom scripts will be concatenated to one file `custom.js`.
  # When building for production it will be minified.
  # The file `custom.js` is loaded on each page (before body tag ends).
  
  dateFormat = "" # date format used to show dates on various pages. If nothing is specified, then "2 Jan 2006" format is used.
  # See https://gohugo.io/functions/time/format/ for available date formats.
  
  rssFeedDescription = "summary" # available options: 1) summary 2) full
  # summary - includes a short summary of the blog post in the RSS feed. Generated using Hugo .Summary .
  # full - includes full blog post in the RSS feed. Generated using Hugo .Content .
  # By default (or if nothing is specified), summary is used.

[Languages.en-us.params.author]
  avatar = "avatar.jpg" # put the file in assets folder; also ensure that image has same height and width
  # Note: image is not rendered if the resource(avatar image) is not found. No error is displayed.
  intro = "Łukasz Pospiech"
  name = "Łukasz Pospiech"
  description = "I'm an experienced DevOps and Site Reliability Engineer with a strong passion for emerging technologies, Kubernetes, and GitOps-based deployments. Currently, I'm working as a Staff DevOps Engineer, focusing on automating reliable and scalable cloud-native solutions. In my spare time, I enjoy maintaining my Homelab environment, experimenting with new technologies, and continuously improving my skills."

# Allow to override webmanifest options
[Languages.en-us.params.webmanifest]
  #name = "sitename" # will use "params.sitename" or "title" by default
  #short_name = "sitename" # same as name
  start_url = "/" # will use homepage url by default
  theme_color = "#434648" # default is "#434648" (base color of text). Also will override html `<meta name="theme-color" />`
  background_color = "#fff" # by default depend on "params.defaultColor" for "light" or "auto" will be set to "#fff" for dark will be "#131418" (color of dark mode background)
  display = "standalone"

# Allow to override `browserconfig.xml` params (configuration for windows embedded browsers)
[params.browserconfig]
  TileColor = "#2d89ef" # default windows 10 blue tile color

[[params.socialIcons]]
name = "github"
url = "https://github.com/zocimek"

[[params.socialIcons]]
name = "linkedin"
url = "https://www.linkedin.com/in/%C5%82ukasz-pospiech-9956bb47/"

[[params.socialIcons]]
name = "Rss"
url = "/index.xml"